* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
}

.container {
    width: 100%; /* Adjusted to prevent exceeding viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem; /* Use gap for spacing */
}

.item1 {
    align-self: center;
    color: black;
}

.item2 img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(64, 15, 110);
    align-items: center;
    width: 100%; /* Ensure it spans the full viewport width */
    height: 8%;
    gap: 1rem;
    
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
    gap: 15px;
    color: white;
}

a {
    color: white;
    font-size: larger;
}

a:hover {
    color: blue;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
}

a:visited {
    color: bisque;
}

/* Media Queries */
@media only screen and (min-width: 300px) and (max-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-evenly;
        font-size: larger;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .header {
        flex-wrap: wrap;
        font-size: larger;
    }
}
